#amarilla {
    background-color: yellow; /* Color amarillo */
}

#rojo {
    background-color: red; /* Color rojo */
}

#azul {
    background-color: blue; /* Color azul */
}

#verde {
    background-color: green; /* Color verde */
}